{
    margin:0
    padding:0
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sosmed H1 {
    color: papayawhip;
    font-size: 20px;
    padding: 20px;
}

.icon{
    border: solid 1px white;
    padding: 10px;
    border-radius: 5px;

}

.icon a{
    color:floralwhite;
    text-decoration: none;
    padding: 20px;
}

.icon a:hover{
    color: rgb(243,187,34);
}